.carousel {
  .main {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    .carousel-list{
      transform:translateX(30%);
      padding-left:0;
    }
    article {
      display:flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      height: 12rem;
      width: 14rem;
      background-color: #e3000c;
      color: white;
      transform:translateX(75%);
      hr {
        width: 100%;
        height: 4px;
        background-color: white;
      }
    }
  }
}

.carousel-main {
  display: flex;
  justify-content: center;
}

.slider-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  .button-component {
    height: 3rem;
    width: 4rem;
    font-size: 2.5rem;
    border: none;
    background-color: white;
  }
}